img {
    margin-left: 100px;
    width: 25%;
    margin-top: 50px;
    cursor: pointer;
}

.NavBar{
    display: inline-block; 
    width: 100%;
}

.LeftNav {
    float: left;
}

.RightNav{
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

.SignupBtn {
    background-color: red;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    border-radius: 20px;
    width: 100px;
    color: white;
    cursor: pointer;
}

.login {
    padding: 10px;
    margin: 10px;
    width: 100px;
    color:black;
    cursor: pointer;
}